<h2 class="element-invisible">Primary tasks</h2>
<ul class="nav nav--primary-local-tasks">
  <li class="nav__item"><a class="nav__link" href="#">Primary</a></li>
  <li class="nav__item is-active"><a class="nav__link active" href="#">Local<span class="element-invisible">(active tab)</span></a></li>
  <li class="nav__item"><a class="nav__link" href="#">Tasks</a></li>
</ul>
<h2 class="element-invisible">Secondary tasks</h2>
<ul class="nav nav--secondary-local-tasks">
  <li class="nav__item is-active"><a class="nav__link active" href="#">Secondary<span class="element-invisible">(active tab)</span></a></li>
  <li class="nav__item"><a class="nav__link" href="#">Local</a></li>
  <li class="nav__item"><a class="nav__link" href="#">Tasks</a></li>
</ul>
