<nav role="navigation">
  <h2 class="element-invisible">Pages</h2>
  <ul class="pager">
    <li class="pager__item pager__item--first"><a class="pager__link pager__link--first" href="#"><span class="element-invisible">First page</span></a></li>
    <li class="pager__item pager__item--previous"><a class="pager__link pager__link--previous" rel="prev" href="#"><span class="element-invisible">Previous page</span></a></li>
    <li class="pager__item pager__item--ellipsis" role="presentation">…</li>
    <li class="pager__item"><a class="pager__link" href="#"><span class="element-invisible">Page </span>2</a></li>
    <li class="pager__item"><a class="pager__link" href="#"><span class="element-invisible">Page </span>3</a></li>
    <li class="pager__item"><a class="pager__link" href="#"><span class="element-invisible">Page </span>4</a></li>
    <li class="pager__item"><a class="pager__link" href="#"><span class="element-invisible">Page </span>5</a></li>
    <li class="pager__item pager__item--current"><span class="element-invisible">Currently on page </span>6</li>
    <li class="pager__item"><a class="pager__link" href="#"><span class="element-invisible">Page </span>7</a></li>
    <li class="pager__item"><a class="pager__link" href="#"><span class="element-invisible">Page </span>8</a></li>
    <li class="pager__item"><a class="pager__link" href="#"><span class="element-invisible">Page </span>9</a></li>
    <li class="pager__item"><a class="pager__link" href="#"><span class="element-invisible">Page </span>10</a></li>
    <li class="pager__item pager__item--ellipsis" role="presentation">…</li>
    <li class="pager__item pager__item--next"><a class="pager__link pager__link--next" rel="next" href="#"><span class="element-invisible">Next page</span></a></li>
    <li class="pager__item pager__item--last"><a class="pager__link pager__link--last" href="#"><span class="element-invisible">Last page</span></a></li>
  </ul>
</nav>
