<div class="layout-panels-sidebar preface main sidebar">
  <div class="layout-preface">
    <p style="background:#333;color:#fff;padding:1em">Preface</p>
  </div>
  <div class="layout-main">
    <p style="background:#333;color:#fff;padding:1em">Main</p>
  </div>
  <div class="layout-sidebar">
    <p style="background:#333;color:#fff;padding:1em">Sidebar</p>
  </div>
</div>
