<div class="layout-panels-three-column preface first second third-empty">
  <div class="layout-preface">
    <p style="background:#333;color:#fff;padding:1em">Preface</p>
  </div>
  <div class="layout-first">
    <p style="background:#333;color:#fff;padding:1em">First</p>
  </div>
  <div class="layout-second">
    <p style="background:#333;color:#fff;padding:1em">Second</p>
  </div>
</div>
