<div class="layout-sidebar-multi-row has-sidebar has-row-2-first has-row-2-second has-row-2-third has-row-3-first has-row-3-second has-row-3-third has-row-4-first has-row-4-second has-row-4-third ">
  <div class="layout-sidebar-multi-row__preface">
    <p style="background:#333;color:#fff;padding:1em">Preface</p>
  </div>
  <div class="layout-sidebar-multi-row__main-wrapper">
    <div class="layout-sidebar-multi-row__sidebar">
      <p style="background:#333;color:#fff;padding:1em 1em 16em 1em">Sidebar</p>
    </div>
    
    <div class="layout-sidebar-multi-row__rows-wrapper">
      <div class="layout-sidebar-multi-row__row-1">
        <p style="background:#333;color:#fff;padding:1em">Row 1</p>
      </div>
      <div class="layout-sidebar-multi-row__row-2">
        <div class="layout-sidebar-multi-row__row-2-first">
          <p style="background:#333;color:#fff;padding:1em">Row 2 First</p>
        </div>

        <div class="layout-sidebar-multi-row__row-2-second">
          <p style="background:#333;color:#fff;padding:1em">Row 2 Second</p>
        </div>

        <div class="layout-sidebar-multi-row__row-2-third">
          <p style="background:#333;color:#fff;padding:1em">Row 2 Third</p>
        </div>
      </div>
      <div class="layout-sidebar-multi-row__row-3">
        <div class="layout-sidebar-multi-row__row-3-first">
          <p style="background:#333;color:#fff;padding:1em">Row 3 First</p>
        </div>

        <div class="layout-sidebar-multi-row__row-3-second">
          <p style="background:#333;color:#fff;padding:1em">Row 3 Second</p>
        </div>

        <div class="layout-sidebar-multi-row__row-3-third">
          <p style="background:#333;color:#fff;padding:1em">Row 3 Third</p>
        </div>
      </div>
      <div class="layout-sidebar-multi-row__row-4">
        <div class="layout-sidebar-multi-row__row-4-first">
          <p style="background:#333;color:#fff;padding:1em">Row 4 First</p>
        </div>

        <div class="layout-sidebar-multi-row__row-4-second">
          <p style="background:#333;color:#fff;padding:1em">Row 4 Second</p>
        </div>

        <div class="layout-sidebar-multi-row__row-4-third">
          <p style="background:#333;color:#fff;padding:1em">Row 4 Third</p>
        </div>
      </div>
    </div>
  </div>

  <div class="layout-sidebar-multi-row__postscript">
    <p style="background:#333;color:#fff;padding:1em">Postscript</p>
  </div>
</div>
