{#
/**
 * @file
 * Region - Header.
 */
#}
<header class="header" role="banner">
  <section{{ attributes.addClass(classes) }}>

    {% block content %}
      {{ content }}
    {% endblock %}

  </section>
</header>
