<h2>Heading font: "Helvetica Neue", Helvetica, Arial, sans-serif;</h2>
<h2><em>Heading font italic: "Helvetica Neue", Helvetica, Arial, sans-serif;</em></h2>
<p>Primary font: "Helvetica Neue", Helvetica, Arial, sans-serif;</p>
<p><em>Primary font italic: "Helvetica Neue", Helvetica, Arial, sans-serif;</em></p>
<p><strong>Primary font bold: "Helvetica Neue", Helvetica, Arial, sans-serif;</strong></p>
<p><code>Monospace font: Consolas, "Lucida Console", "Liberation Mono", "Courier New", monospace, sans-serif;</code></p>
<p><code><em>Monospace font italic: Consolas, "Lucida Console", "Liberation Mono", "Courier New", monospace, sans-serif;</em></code></p>
<p><code><strong>Monospace font bold: Consolas, "Lucida Console", "Liberation Mono", "Courier New", monospace, sans-serif;</strong></code></p>
