<div class="messages messages--status" role="alertdialog">
  <h2 class="element-invisible">Status message</h2>
  This is a status message about <em class="placeholder">something</em> that has been updated. <a href="#">This is a link</a>.
</div>

<div class="messages messages--warning">
  <h2 class="element-invisible">Warning message</h2>
  This is a warning message about <em class="placeholder">something</em> that should be noted. <a href="#">This is a link</a>.
</div>

<div class="messages messages--error" role="alertdialog">
  <h2 class="element-invisible">Error message</h2>
  This is an error message about <em class="placeholder">something</em> that went wrong. <a href="#">This is a link</a>.
</div>

<div class="messages messages--error" role="alertdialog">
  <h2 class="element-invisible">Error message</h2>
  <ul class="messages__list">
    <li class="messages__item">This is an error message. There are multiple error messages here.</li>
    <li class="messages__item">This is another error message about <em class="placeholder">something</em> that went wrong:<br>Description of what went wrong.</li>
  </ul>
</div>
