<div class="progress">
  <div class="progress__track">
  <div class="progress__bar" style="width: 57%"></div>
  </div>
  <div class="progress__percentage">57%</div>
  <div class="progress__description">This is the description for this progress bar.</div>
</div>
