<div class="pyramid-grid">
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
  <div class="box"></div>
</div>

{#@todo remove this#}
<style>
  .box {
    border: dotted 1px silver;
    background-color: gray;
    min-height: 200px
  }
</style>
