<div class="card">
  {% block card_image %}
    <img class="card-img-top" src="http://placehold.it/1000x400" />
  {% endblock %}
  <div class="card-block">
    <h4 class="card-title">
      <a href="{{ url }}" rel="bookmark">{{ title }}</a>
    </h4>
    {% block card_links %}
      <a href="#" class="btn btn-primary">Read more</a>
    {% endblock %}
  </div>
</div>
