
	<!--DO NOT REMOVE-->
	{{ patternLabFoot | raw }}

  <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
  <script src="../../../../node_modules/bootstrap/dist/js/bootstrap.js"></script>
  <script src="../../../../bower_components/drupal/index.js"></script>
  <script src="../../../../js/dashing.js"></script>

	</body>
</html>
