<div class="form-item form-item--textfield">
  <label class="form-item__label" for="edit-textfield">Textfield</label>
  <input type="text" autocapitalize="off" autocorrect="off" id="edit-textfield" name="textfield" size="60" maxlength="128" class="form-text">
  <div class="form-item__description">The description for this form field.</div>
</div>

<div class="form-item form-item--textfield is-required">
  <label class="form-item__label" for="edit-required-textfield">Required  <span class="form-item__required-marker"><span class="element-invisible">This field is required.</span></span></label>
  <input type="text" autocapitalize="off" autocorrect="off" id="edit-required-textfield" name="required-textfield" size="60" maxlength="128" class="form-text is-required">
  <div class="form-item__description">The description for this form field.</div>
</div>

<div class="form-item form-item--password">
  <label class="form-item__label" for="edit-password">Password </label>
  <input type="password" autocapitalize="off" autocorrect="off" id="edit-password" name="password" size="60" maxlength="128" class="form-text">
  <div class="form-item__description">The description for this form field.</div>
</div>

<div class="form-item form-item--textarea">
  <label class="form-item__label" for="edit-textarea">Textarea </label>
  <textarea id="edit-textarea" name="textarea" cols="60" rows="5" class="form-textarea"></textarea>
  <div class="form-item__description">The description for this form field.</div>
</div>
