<div class="form-item form-item--select">
  <label class="form-item__label" for="edit-select">Select</label>
  <select id="edit-select" name="select" class="form-select">
    <option>Option One</option>
    <option>Option Two</option>
    <option>Option Three</option>
    <option>Option Four</option>
    <option>Option Five</option>
    <option>Option Six</option>
  </select>
  <div class="form-item__description">The description for this form field.</div>
</div>

<div class="form-item form-item--select">
  <label class="form-item__label" for="edit-select">Select with groups</label>
  <select id="edit-select" name="select" class="form-select">
    <optgroup label="Group One">
      <option>Option One</option>
      <option>Option Two</option>
      <option>Option Three</option>
    </optgroup>
    <optgroup label="Group Two">
      <option>Option Four</option>
      <option>Option Five</option>
      <option>Option Six</option>
    </optgroup>
  </select>
  <div class="form-item__description">The description for this form field.</div>
</div>
