<div class="form-item form-item--checkbox">
  <input type="checkbox" id="edit-checkbox" name="checkbox" value="1" checked="checked" class="form-checkbox">
  <label class="form-item__label" for="edit-checkbox">Checkbox</label>
  <div class="form-item__description">The description for this form field.</div>
</div>

<div class="form-item form-item--checkboxes">
  <fieldset id="edit-checkboxes" class="form-item__fieldset">
    <legend class="form-item__legend">Checkboxes </legend>
    <div class="form-item form-item--checkbox">
      <input type="checkbox" id="edit-checkboxes-a" name="checkboxes-a" class="form-checkbox">  <label class="form-item__label" for="edit-checkboxes-a">Choice A </label>
    </div>
    <div class="form-item form-item--checkbox">
      <input type="checkbox" id="edit-checkboxes-b" name="checkboxes-b" class="form-checkbox">  <label class="form-item__label" for="edit-checkboxes-b">Choice B </label>
    </div>
    <div class="form-item form-item--checkbox">
      <input type="checkbox" id="edit-checkboxes-c" name="checkboxes-c" class="form-checkbox">  <label class="form-item__label" for="edit-checkboxes-c">Choice C </label>
    </div>
    <div class="form-item form-item--checkbox">
      <input type="checkbox" id="edit-checkboxes-d" name="checkboxes-d" class="form-checkbox">  <label class="form-item__label" for="edit-checkboxes-d">Choice D </label>
    </div>
  </fieldset>
  <div class="form-item__description">The description for this form field.</div>
</div>
