<div class="form-item form-item--radios">
  <fieldset id="edit-radios" class="form-item__fieldset">
    <legend class="form-item__legend">Radios </legend>
    <div class="form-item form-item--radio form-item--radios">
      <input type="radio" id="edit-radios-one" name="radios" class="form-radio">  <label class="form-item__label" for="edit-radios-one">Option One </label>
    </div>
    <div class="form-item form-item--radio form-item--radios">
      <input type="radio" id="edit-radios-two" name="radios" class="form-radio">  <label class="form-item__label" for="edit-radios-two">Option Two </label>
    </div>
    <div class="form-item form-item--radio form-item--radios">
      <input type="radio" id="edit-radios-three" name="radios" class="form-radio">  <label class="form-item__label" for="edit-radios-three">Option Three </label>
    </div>
    <div class="form-item form-item--radio form-item--radios">
      <input type="radio" id="edit-radios-four" name="radios" class="form-radio">  <label class="form-item__label" for="edit-radios-four">Option Four </label>
    </div>
  </fieldset>
  <div class="form-item__description">The description for this form field.</div>
</div>
