<fieldset class="fieldset" id="edit-fieldset">
  <legend class="fieldset__legend">
    <span class="fieldset__legend-text">Fieldset</span>
  </legend><div class="fieldset__content">
  <div class="fieldset__description">This is the fieldset description.</div>
  <p>Fieldset content goes here&hellip;</p>
</fieldset>
