{% include "layouts-header-region" %}
{% include "layouts-navigation-region" %}
{% include "layouts-preface-region" %}

<main id="main" class="main" role="main" tabindex="-1">
  <div class="region-content layout-constrain">

    {% include "components-page-title" %}

    {% for listItem in listItems.four %} 
      {% include "components-image-teaser" %}
    {% endfor %}

    {% include "components-pager" %}

  </div>
</main>

{% include "layouts-postscript-region" %}
{% include "layouts-footer-region" %}
